@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgc1: #1E1E1E;
  --bgc2: #2C2C2C;
  --c1: #FFFFFF;
  --title: #FFD700;
  --accent1: #ECECEC;
  --accent2: #BFBFBF;

}

html {
  background-color: var(--bgc1);
  color: var(--c1);
}

.bgc1 {
  background-color: var(--bgc1);
}

.bgc2 {
  background-color: var(--bgc2);
}

.bgc1--c {
  color: var(--bgc1);
}

.title {
  color: var(--title);
}

.title--bgc {
  background-color: var(--title);
}

.accent1 {
  color: var(--accent1)
}

.accent1--bgc {
  background-color: var(--accent1)
}

.accent2 {
  color: var(--accent2)
}

.accent2--bgc {
  background-color: var(--accent2)
}